[core]
	excludesfile = $HOME/.gitignore_global
	attributesfile = $HOME/.gitattributes
	autocrlf = input
	editor = /usr/local/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Shintaro Tanaka
	email = sin_tanaka@jsl.co.jp
[commit]
	template = $HOME/.stCommitMsg
[diff "xlsx"]
	binary = true
	textconv = $GOPATH/bin/git-xlsx-textconv
[alias]
	p = !git push origin `git rev-parse --abbrev-ref HEAD`
	st = status
	co = checkout
	cob = checkout -b
    cof = !git branch -a | fzf | xargs git checkout
	cm = commit
	cmm = commit -m
    cma = commit -am
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	difff = diff --word-diff
	unstage = reset HEAD
	ffs = flow feature start
	b = branch
